@model List<User>
<table class="table">
    <thead>
        <tr>
    <th>Username</th>
    <th>Email</th>
    <th>IsActive</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td>@(item.IsActive?"Yes" : "No")</td>
            </tr>
        }
    </tbody>
</table>